body {
    background-color: black;
    color: white;
}

#header h1 {
    text-align: center;
}

#calculator {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 5px;
}

#calculator * {
    margin-bottom: 2px;
}

#calculator #output {
    border: 1px solid white;
    border-radius: 5px;
    min-height: 30px;
    width: 100%;
    padding: 3px;
}

#numpad {
    display: grid;
    grid-template-columns: auto auto auto;
}

#numpad button {
    border-radius: 4px;
}

.buttonGlow {
    background-color: #9f8aa8;
    color: #f3f0f5;
}

#btn0 {
    grid-column: 2 / span 1;
}

#error {
    min-height: 20px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    margin: 3px 0;
    padding: 3px;
}

#operators {
    display: flex;
    flex-direction: column;
}

#key-functions {
    display: grid;
    grid-column: auto;
}